// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Polaris", Georgia, Cambria, "Times New Roman", Times, serif;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 14px;
$base-line-height: 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #00263d;
$orange: #ffa70c;
$dark-gray: #333;
$medium-gray: #898989;
$light-gray: #e8e8e8;

$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
