/** 
* importing _s style.css
* @todo stage: paste into style.css
**/
@import url("base.css");

/** inne podstawowe style **/
nav ul, nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
* html .clearfix { height: 1%; overflow: visible; }
.nolist, .nolist li { list-style: none; margin: 0; padding: 0; display: block; }

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4              { font-size: 1.1em; }
h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4, h5, h6, b, strong { font-weight: bolder }
ul, ol			{ margin-left: 3em; }

/*** layout AKAI ***/
body { 
	background-color: #eee;
	font: 12px/1.5 Arial;
}

#page {
	width: 960px;
	margin: 0 auto;
}

.block {
	background-color: #ddd;
	margin: 1em 0;
	clear: both;
	display: block;
}

.site-navigation {
} .site-navigation ul {
	width: 70%;
	float: left;
	text-align: center;
} .site-navigation li {
	display: inline-block;
} .site-navigation a {
	display: inline-block;
	padding: .5em 1em;
	font-weight: bold;
	font-size: 1.2em;
	margin: .5em;
}
.get-social {
	float: right;
} .get-social a {
	background-color: #ccc;
}

.promoslider {
	position: relative;
	overflow: hidden;
	overflow-x: scroll;
	
	font-size: 1.3em;
} .promoslider ul {
	width: 300%;
} .promoslider li {
	position: relative;
	float: left;
	width: 33%;
	height: 6em;
	font-size: 2em;
	font-weight: bold;
} .promoslider li > div {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 2em;
	color: #fff;
	text-shadow: 2px 2px 0px #000;
} .promoslider li > img {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}

.home-companies {
	text-align: center;
} .home-companies img {
	margin: 1em 2em;
	height: 4em;
	width: 4em;
}

.home-subscribe {
} .home-subscribe > label {
	display: block;
	width: 60%;
	float: left;
	font-size: 1.2em;
	margin: 1em;
} .home-subscribe form label {
	display: none;
}

.events {
	display: block;
} .events .event {
	display: block;
	position: relative;
	opacity: 1;
	-webkit-transition: opacity 3s;
	float: left;
	width: 28%;
	height: 11em;
	margin: .5em 2.5%;
} .events .event > img {
	width: 100%;
	height: 100%;
} .events .event-caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5em;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
} .event-caption h4 {
	margin: 0;
} .events .event .event-caption.hoveronly {
	display: none;
} .events .event:hover .event-caption {
	display: none;
} .events .event:hover .event-caption.hoveronly {
	display: block;
	color: #fff;
	background-caption: rgba(0,0,100,0.7);
}  .event-caption a {
	color: #FFF;
}

.events-loadbutton {
	clear: both;
	display: block;
	background-color: #ddd;
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	padding: .5em 1em;
}

.hentry {
	padding: 1em;
	margin: 1em;
	background-color: #fff;
	text-align: justify;
	clear: both;
}

/*.team h3 {
	font-size: 1.6em;
	font-weight: bold;
}*/
.team .team-person {
	width: 45%;
	float: left;
} .team-person {
	font-size: 1.2em;
} .person-image {
	float: left;
	width: 6em;
	height: 6em;
	margin-right: 1em;
} .person-image img {
	width: 100%;
	height: 100%;
} .person-description {
	float: left;
/*} .person h4, .person-position {
	font-weight: bold;*/
} .person h4, .person span {
	display: block;
	margin: 0;
} .person {
	margin: .5em;
	padding: .5em;
	border: 1px solid #aaa;
}

.team-leaders {
	width: 40%;
	float: right;
} .team-leaders .person {
	clear: both;
}

.entry-left {
	float: left;
	width: 55%;
	margin-right: 5%;
}
.entry-right {
	float: right;
	width: 40%;
	clear: none;
}

.entry-left > div, .entry-right > div {
	border: 1px solid #999;
	background-color: #e0e0e0;
	padding: .5em;
	margin: 1em 0;
	font-size: 1.2em;
}

#map {
	width: 300px;
	height: 200px;
}