// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Polaris", Georgia, Cambria, "Times New Roman", Times, serif;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;


// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 14px;
$base-line-height: 1.5;
$base-border-radius: em(3);


// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #00263d;
$orange: #ffa70c;
$dark-gray: #333;
$medium-gray: #898989;
$light-gray: #e8e8e8;

$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;


// AKAI theme specific variables
///////////////////////////////////////////////////////////////////////////////

// category.sass
$event-caption-height: 45px;

// layout.sass
$bar-height: 60px;

$navigation-border-bottom-width: 4px;
$navigation-arrow-width: 30px;
$navigation-bar-height: $bar-height;
$navigation-bar-margin: 140px;
$navigation-logo-size: 250px;
$navigation-big-logo-padding: 40px;
$navigation-small-logo-margin: 10px;

$footer-bar-height: 100px;

$navigation-overall-size: $navigation-bar-height + 2 * $navigation-bar-margin;
$navigation-logo-margin: ($navigation-overall-size - $navigation-logo-size) / 2;
$_navigation-logo-margin-top: -$navigation-bar-height -$navigation-bar-margin +$navigation-logo-margin;


// Media breakpoints (@see http://neat.bourbon.io/docs/#new-breakpoint)
$mobile: new-breakpoint(max-width 480px);
$tablet: new-breakpoint(max-width 959px);
$desktop: new-breakpoint(min-width 960px);
