// site-header variables
$bar-height: 70px

$navigation-bar-height: $bar-height
$navigation-bar-margin: 140px
$logo-size: 250px

.container
  +outer-container

.site-header
  text-align: center

  .navigation-bar
    +bar

    .navigation
      position: relative
      display: inline-block
      width: 50%
        
      &.center
        position: absolute
        top: 0
        left: 0
        width: 100%
        .fill
          display: block
          margin: 0 auto
          width: $logo-size
          height: $navigation-bar-height
          background-color: #fff

      &.left
        text-align: right
        float: left
        padding-right: $logo-size / 2
        li
          +has-arrow(30px, $navigation-bar-height, $navigation-bar-height, right, $blue)
          a
            +has-arrow(30px, $navigation-bar-height, $navigation-bar-height, right, $blue)
            &:after
              right: auto
              left: 0

          &.active
            &:after
              border-left-color: $orange
            a:after
              border-left-color: $blue

      &.right
        text-align: left
        float: right
        padding-left: $logo-size / 2
        li
          +has-arrow(30px, $navigation-bar-height, $navigation-bar-height, left, $blue)
          a
            +has-arrow(30px, $navigation-bar-height, $navigation-bar-height, left, $blue)
            &:after
              left: auto
              right: 0

          &.active
            &:after
              border-right-color: $orange
            a:after
              border-right-color: $blue

      li
        display: inline-block
        position: relative
        &:after
          z-index: 2

        a
          display: inline-block
          padding: 0 3.5em

          &:hover
            color: $orange

        &.active
          background-color: $orange
          color: #fff
          a:hover
            color: inherit

  .logo
    $navigation-overall-size: $navigation-bar-height + 2 * $navigation-bar-margin
    $navigation-logo-margin: ($navigation-overall-size - $logo-size) / 2

    display: block
    margin: 0 auto
    margin-top: -$navigation-bar-height -$navigation-bar-margin +$navigation-logo-margin
    position: relative
    width: $logo-size
    height: $logo-size

    img
      display: inline-block
      width: 100%
      height: 100%
      padding: 40px

  .site-title
    margin-top: -30px
    font-family: Polaris
    font-size: 18px
    font-weight: normal
    color: $medium-gray
    line-height: 60px
    a
      color: inherit

  &.big
    padding-top: $navigation-bar-margin
    border-bottom: 4px solid $light-gray

  &:not(.big)
    .site-title, .social-buttons
      display: none

    .logo
      margin-top: -$navigation-bar-height + 5px
      width: $navigation-bar-height - 10px
      height: $navigation-bar-height - 10px
      img
        padding: 0

.site-footer
  +bar

  .copyright
    +span-columns(6)

  .partners
    +span-columns(6)
    text-align: right

