// site-header variables
$bar-height: 70px

$navigation-bar-height: $bar-height
$navigation-bar-margin: 140px
$logo-size: 250px

.container
  +outer-container

.site-header
  text-align: center

  .navigation-bar
    +bar

    .navigation
      position: relative
      display: inline-block
      width: 50%
        
      &.center
        position: absolute
        top: 0
        left: 0
        width: 100%
        .fill
          display: block
          margin: 0 auto
          width: $logo-size
          height: $navigation-bar-height
          background-color: #fff

      &.left
        text-align: right
        float: left
        padding-right: $logo-size / 2
        +has-arrow(30px, $navigation-bar-height, $navigation-bar-height, right, $blue)
        &:after
          right: $logo-size / 2 - 30px

      &.right
        text-align: left
        float: right
        padding-left: $logo-size / 2
        +has-arrow(30px, $navigation-bar-height, $navigation-bar-height, left, $blue)
        &:after
          left: $logo-size / 2 - 30px

      li
        display: inline-block

        a
          display: inline-block
          margin: 0 3em

  .logo
    $navigation-overall-size: $navigation-bar-height + 2 * $navigation-bar-margin
    $navigation-logo-margin: ($navigation-overall-size - $logo-size) / 2

    display: inline-block
    margin-top: -$navigation-bar-height -$navigation-bar-margin +$navigation-logo-margin
    position: relative

    img
      display: inline-block
      width: $logo-size
      height: $logo-size
      padding: 40px

  .site-title
    margin-top: -30px
    font-family: Polaris
    font-size: 18px
    font-weight: normal
    color: $medium-gray
    line-height: 60px
    a
      color: inherit

  &.big
    padding-top: $navigation-bar-margin
    border-bottom: 4px solid $light-gray

  &:not(.big)
    .site-title, .social-buttons
      display: none

.site-footer
  +bar

  .copyright
    +span-columns(6)

  .partners
    +span-columns(6)
    text-align: right

