$_navigation-logo-margin-top: -$navigation-bar-height -$navigation-bar-margin +$navigation-logo-margin

@-skrollr-keyframes site_header
  0
    position: relative
    border-bottom-width: $navigation-border-bottom-width

  _smallheader
    position: fixed
    border-bottom-width: 0px

@-skrollr-keyframes navigation_logo
  0
    width: $navigation-logo-size
    height: $navigation-logo-size
    margin-top: $_navigation-logo-margin-top

  _smallheader
    width: $navigation-bar-height - $navigation-small-logo-margin
    height: $navigation-bar-height - $navigation-small-logo-margin
    margin-top: -($navigation-bar-height - $navigation-small-logo-margin / 2)

@-skrollr-keyframes navigation_logo_img
  0
    padding: $navigation-big-logo-padding

  _smallheader
    padding: 0px

@-skrollr-keyframes site_header_links
  _smallheaderthird
    opacity: 1

  _smallheaderhalf
    opacity: 0
    display: block

  _smallheader
    display: none

@-skrollr-keyframes site_main
  0
    padding-top: #{"!"} 0

  _smallheader
    padding-top: #{"!"} $navigation-bar-height + 35px

body
  padding-top: $navigation-bar-margin

.container
  +outer-container

.site-header
  text-align: center
  top: 0
  width: 100%
  border-bottom: $navigation-border-bottom-width solid $light-gray
  z-index: 2
  -skrollr-animation-name: site_header

  .navigation-bar
    +bar
    background-color: transparent
    overflow: hidden

    .bg
      width: 100%
      height: 100%
      &:before, &:after
        content: " "
        display: block
        position: absolute
        background-color: $blue
        width: 50%
        height: 100%
        top: 0
      &:before
        left: -$navigation-logo-size / 2
      &:after
        right: -$navigation-logo-size / 2

    .navigation
      position: relative
      display: inline-block
      width: 50%

      li
        display: inline-block
        position: relative
        &:after
          z-index: 2

        a
          display: inline-block
          width: 12.3em
          text-align: center

          &:hover
            color: $orange

        &.current-menu-item, &.current-post-ancestor
          background-color: $orange
          color: #fff
          a:hover
            color: inherit
        
      &.center
        position: absolute
        top: 0
        left: 0
        width: 100%
        .fill
          display: block
          margin: 0 auto
          width: $navigation-logo-size
          height: $navigation-bar-height
          +linear-gradient(#fff, rgba(#fff, 0))
          background-color: transparent

      &.left
        text-align: right
        float: left
        padding-right: $navigation-logo-size / 2
        li
          +has-arrow($navigation-arrow-width, $navigation-bar-height, $navigation-bar-height, right, $blue)
          a
            +has-arrow($navigation-arrow-width, $navigation-bar-height, $navigation-bar-height, right, $blue)
            padding-left: $navigation-arrow-width
            &:after
              right: auto
              left: 0

          &.current-menu-item, &.current-post-ancestor
            &:after
              border-left-color: $orange
            a:after
              border-left-color: $blue

      &.right
        text-align: left
        float: right
        padding-left: $navigation-logo-size / 2
        li
          +has-arrow($navigation-arrow-width, $navigation-bar-height, $navigation-bar-height, left, $blue)
          a
            +has-arrow($navigation-arrow-width, $navigation-bar-height, $navigation-bar-height, left, $blue)
            padding-right: $navigation-arrow-width
            &:after
              left: auto
              right: 0

          &.current-menu-item, &.current-post-ancestor
            &:after
              border-right-color: $orange
            a:after
              border-right-color: $blue

  .logo
    display: block
    margin: 0 auto
    position: relative
    margin-top: -$navigation-bar-height + 5px
    width: $navigation-bar-height - 10px
    height: $navigation-bar-height - 10px
    -skrollr-animation-name: navigation_logo

    img
      display: inline-block
      width: 100%
      height: 100%
      padding: 0
      -skrollr-animation-name: navigation_logo_img

  .site-header-links
    margin-top: -30px
    color: $medium-gray
    line-height: 1
    -skrollr-animation-name: site_header_links
    a
      color: inherit

    .site-title
      font-family: Polaris
      font-size: 18px
      font-weight: normal
      margin: 15px 0

    .social-buttons
      margin: 15px 0
      font-size: 13px
      a
        margin: 0 10px
        &:hover
          color: $blue

    
  &.big
    // padding-top: $navigation-bar-margin

    .logo
      margin-top: $_navigation-logo-margin-top
      width: $navigation-logo-size
      height: $navigation-logo-size
      img
        padding: $navigation-big-logo-padding

.site-main
  margin: 40px
  -skrollr-animation-name: site_main

  
.site-footer
  +bar
  line-height: $footer-bar-height

  .copyright
    +span-columns(6)

  .partners
    +span-columns(6)
    text-align: right
    line-height: 1

    img
      height: $footer-bar-height - 2 * 15px
      margin: 15px 0 15px 30px


// Other layout stuff


.horizontal-photo
  background-size: cover
  background-position: cover
  height: 370px
  margin-bottom: $gutter
  border: 1px solid $light-gray


.column
  &.content
    +span-columns(8)

  &.sidebar
    +span-columns(4)

  > section
    + section
      &:before
        content: " "
        display: block
        width: 100%
        height: 1px
        border-top: 1px solid $light-gray
        margin: $gutter 0


body.admin-bar
  margin-top: -32px
  margin-bottom: 32px
#wpadminbar
  top: auto !important
  bottom: 0
  .menupop .ab-sub-wrapper, 
  .shortlink-input
    bottom: 32px
