.team
  .people
    overflow: hidden
    margin-bottom: $gutter

    h3
      +clear-format
      font-size: 44px
      font-weight: 300
      line-height: 1
      margin-bottom: .2em
    
    .person-list
      +display(flex)
      +flex-wrap(wrap)
      +justify-content(space-between)

    .person
      margin: $gutter auto 0
      width: 225px
      display: inline-block

      figure
        margin: 0

        > img
          width: 100%
          height: 225px

      figcaption
        text-align: center
        padding-top: .5em

        .entry-title
          +clear-format
          font-weight: bold
          font-size: 22px

        .entry-position
          font-size: 18px
        
        .entry-icons
          font-size: 1.2em
